<div class="container">
    <div class="row">
        <div class = "col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-7">
                    <h1>DevMatch Community</h1>
                    <p>Welcome to the DevMatch community. Users must fill out a profile in order to be visible in the community</p>
                </div>
                <div class="col-md-5 margin-top">
                    <%= form_for @filter, class: 'form-horizontal' do |f| %>
                        <div class="form-inline">
                            <div class="form-group">
                                <%= f.select :filter, ['All', 'Developer', 'Entrepreneur', 'Investor', 'Other'], {}, class: 'form-control', placeholder: 'Software Developer' %>
                                <%= f.submit "Filter", class: 'btn btn-default' %>
                            </div>
                        </div>
                    <% end %>
                    <%= form_for @search, class: 'form-horizontal' do |f| %>
                        <div class="form-inline">
                            <div class="form-group">
                                <%= f.text_field :search, class: 'form-control' %>
                                <%= f.submit "Search", class: 'btn btn-default' %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <ul class="list-unstyled">
                <% @users.each do |user| %>
                    <% if user.profile %>
                        <li>
                            <% if user == current_user %>
                                <div class="well row blue-bg">
                            <% else %>
                                <div class="well row <%= cycle('white-bg', '') %>">
                            <% end %>
                                <div class="col-sm-3 text-center">
                                    <% if user.profile.avatar %>
                                        <%= link_to user do %>
                                            <%= image_tag user.profile.avatar.url, class: 'user-index-avatar' %>
                                        <% end %>
                                    <% end %>
                                </div>
                                <div>
                                    <%= link_to user do %>
                                        <h2><%= user.profile.first_name %> <%= user.profile.last_name %></h2>
                                    <% end %>
                                    <h5>
                                        <%= user.profile.job_title %>
                                        <% if user.plan_id > 1 %>
                                            <span class="label label-danger">PRO</span>
                                        <% end %>
                                    </h5>
                                </div>
                                <div>
                                    <p><%= user.profile.description %></p>
                                </div>
                            </div>
                        </li>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
</div>